In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Exp1.csv")

In [3]:
df.index=df.pop("Customer ID")

In [4]:
df

              MP   WP  LIP  CCI  Gender
Customer ID
1            Yes   No   No   No    Male
2            Yes  Yes  Yes  Yes  Female
3             No   No   No   No    Male
4            Yes  Yes  Yes  Yes    Male
5            Yes   No  Yes   No  Female
6             No   No   No   No  Female
7            Yes  Yes  Yes  Yes    Male
8             No   No   No   No    Male
9            Yes   No   No   No    Male
10           Yes  Yes   No   No  Female

In [5]:
 a=list(df["MP"])

In [6]:
def split(df,t):# data frame and target variable
    a=[]
    b1=[]
    b=0
    h1=1
    h2=1
    for i in df:
        if(i==t):
            b=-1
            a1=list(df[i])
            a.append(a1)
            b1.append(i)
        else:
            a1=list(df[i])
            a.append(a1)
            b1.append(i)
            h1*=a1.count("Yes")/len(a1)
            h2*=a1.count("No")/len(a1)
    print(a)
    print(b1)

    df1=table(a[0],a[b],b1[0])
    df2=table(a[1],a[b],b1[1])
    df3=table(a[2],a[b],b1[2])
    df4=table(a[3],a[b],b1[3])
    df1.index=df1.pop(b1[0])
    df2.index=df2.pop(b1[1])
    df3.index=df3.pop(b1[2])
    df4.index=df4.pop(b1[3])
    return df1,df2,df3,df4,h1,h2

In [7]:
def table(a,b,c):#,actual variabe coloumn, target variable list,actual varable coloumn name
    df=pd.DataFrame()
    a1,a2,a3,a4=0,0,0,0
    if(len(a)==len(b)):
        for i in range(len(a)):
            if(a[i]=="Yes" and b[i]=="Male"):
                a1+=1
                continue
            if(a[i]=="No" and b[i]=="Male"):
                a2+=1
                continue
            if(a[i]=="Yes" and b[i]=="Female"):
                a3+=1
                continue
            if(a[i]=="No" and b[i]=="Female"):
                a4+=1
                continue
        m=b.count("Male")
        f=b.count("Female")
        c1=["Yes","No","Total"]
        df[c]=c1
        df["Male"]=[a1,a2,a1+a2]
        df["Female"]=[a3,a4,a3+a4]
        df["Lm"]=[a1/m,a2/m,(a1+a2)/m]
        df["Lf"]=[a3/f,a4/f,(a3+a4)/f]
        return df

TypeError: split() missing 1 required positional argument: 't'

In [9]:
def predict(df,mp,wp,lip,cci):
    df1,df2,df3,df4,h1,h2=split(df,"Gender")
    pm=0
    pf=0
    pm1=(df1.iloc[2,0])/(df1.iloc[2,1]+df1.iloc[2,0])#p(T)
    pf1=(df1.iloc[2,1])/(df1.iloc[2,1]+df1.iloc[2,0])
    pm=pm1*df1.iloc[mp,2]*df2.iloc[wp,2]*df3.iloc[lip,2]*df4.iloc[cci,2] #p
    pf=pf1*df1.iloc[mp,3]*df2.iloc[wp,3]*df3.iloc[lip,3]*df4.iloc[cci,3]
    t=pm+pf
    pm=pm/t
    pf=pf/t
    if(pm>pf):
        return pm,"Male"
    else:
        return pf,"Female"

In [10]:
mp=int(input("does the user have Magazine Promotion ?"))
wp=int(input("does the user have watch Promotion ?"))
lip=int(input("does the user have Life Insurance Promotion ?"))
cci=int(input("does the user have Credit Card Insurance ?"))
if(mp==1):
    mp=0;
else:
    mp=1
if(wp==1):
    wp=0;
else:
    wp=1
if(lip==1):
    lip=0;
else:
    lip=1
if(cci==1):
    cci=0;
else:
    cci=1
p,result=predict(df,mp,wp,lip,cci)
print("the predicted persion is: ",result)
print("the predicted persentage is: ",p*100)

does the user have Magazine Promotion ?1
does the user have watch Promotion ?1
does the user have Life Insurance Promotion ?1
does the user have Credit Card Insurance ?1
[['Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes'], ['No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes'], ['No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'No'], ['No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No'], ['Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female']]
['MP', 'WP', 'LIP', 'CCI', 'Gender']
the predicted persion is:  Female
the predicted persentage is:  55.86206896551725

In [11]:
df1,df2,df3,df4,h1,h2=split(df,"Gender")

[['Yes', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes', 'Yes'], ['No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'Yes'], ['No', 'Yes', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'No', 'No'], ['No', 'Yes', 'No', 'Yes', 'No', 'No', 'Yes', 'No', 'No', 'No'], ['Male', 'Female', 'Male', 'Male', 'Female', 'Female', 'Male', 'Male', 'Male', 'Female']]
['MP', 'WP', 'LIP', 'CCI', 'Gender']

df1

In [20]:
df1

       Male  Female        Lm    Lf
MP
Yes       4       3  0.666667  0.75
No        2       1  0.333333  0.25
Total     6       4  1.000000  1.00

In [13]:
df2

       Male  Female        Lm   Lf
WP
Yes       2       2  0.333333  0.5
No        4       2  0.666667  0.5
Total     6       4  1.000000  1.0

In [14]:
df3

       Male  Female        Lm   Lf
LIP
Yes       2       2  0.333333  0.5
No        4       2  0.666667  0.5
Total     6       4  1.000000  1.0

In [15]:
df4

       Male  Female        Lm    Lf
CCI
Yes       2       1  0.333333  0.25
No        4       3  0.666667  0.75
Total     6       4  1.000000  1.00

In [21]:
4/6

0.6666666666666666